<!doctype html>
<html lang="en">
  <head>
  	<title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href='https://css.gg/menu.css' rel='stylesheet'>
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      $(function() {
        $("#book").autocomplete({
            source: '{% url "home" %}'
        })
        });
        
    </script>
    <style>
      .push-down {
        margin-bottom: 10px;
      }
  
      .background {
        background-image: linear-gradient(#f09fb9 , #ecc8d3);
      }

      .buttonStretch {
        height: 33px;
      }

      .bookify-color {
        color: #6d7fcc;
      }
    </style>
</head>
  
<body>
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a href="/books"><h3>Bookify</h3></a>
    </div>
    <ul class="list-unstyled components">
        {% if 'id' in request.session %}
        <div class="user-logo">
          <img src="{% static 'images/'%}{{request.session.first_name}} {{request.session.last_name}}.jpg" width="250px" alt="profile pic">
          <!-- we will change it to user image -->
          <h4>{{request.session.first_name}} {{request.session.last_name}}</h4>
        </div>
        {% else %}
        <div class="user-logo">
          <img src="{% static 'images/user.jpg' %}" width="250px" alt="profile pic">
          <!-- we will change it to user image -->
          <h4>GUEST</h4>
        </div>
        {% endif %}
        <!-- DATA from DB just for testing -->
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  {% for category in all_categories %}
                    <a href="/books/category/{{category.id}}">{{category.name}}</a>
                    {% endfor %}
                </li>
            </ul>
        </li>
        <li>
            <a href="/books/user_page/{{request.session.id}}">Your profile</a>
        </li>
      
        <li>
            <a href="/books/about_us">About us</a>
        </li>
        <li class="active">
          <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contact Us</a>
          <ul class="collapse list-unstyled" id="contactSubmenu">
              <li>
                  <p>Bookie@info.co</p>
                  <p>+970599123123</p>
              </li>
          </ul>
        </li>
        {% if 'id' not in request.session %}
        <li>
            <a href="/">Log in/Create an account</a>
        </li>
        {% else %}
        <li>
          <a href="/logout">Logout</a>
        </li>
        {% endif %}
    </ul>

</nav>

  
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
      <!-- <div class="d-flex justify-content-between"> -->

          <button type="button" id="sidebarCollapse" class="btn btn-info buttonStretch" style="background-color: #6d7fcc;">
            <i class="gg-menu"></i>
          </button>
          <h2 class="bookify-color">Bookify</h2>
          <form action="/books/search" method="POST">
            {% csrf_token %}
                   <input type="text" class="search-width" name="book" id="book" >
                   <button type="submit" class="btn btn-sm btn-primary button-color">Search</button> 
           </form>
          
         
      <!-- </div> -->
  </nav>
    
     <!-- <div
		  class="img"
		  style="
			background-image: url('{% static 'images/ook2.jpeg' %}');
			height: 400px;">
		 </div> -->
		<div class='par'>
      <h4>About Us</h4>
      <p>Bookie was created to bring together those with love of the written word.</p>
      <p>Here you can look for your favourite books, and either but them or trade them with someone else.</p>
      <p>It's a cheaper way to expand your library and trade off books with others so you can all enjoy a 
        broader range of titles.</p>
      </div>
      <br>
      <div class='par'>
        <h4>What we do</h4>
        <p>Create a library with a wide range of titles so people can share their books with 
        others at an affordable price.</p>
      </div>
      <br>
      <div class='par'>
        <h4>Who are we</h4>
        <p>A place where those with a passion for reading can find what they're looking for.</p>
      </div>
      <br>
      <div class='par'>
        <h4>Our team</h4>
        <p>Ahmad Jury</p>
        <p>Adel Rimawi</p>
        <p>Omar Dakkah</p>
        <p>Tasneem Arafat</p>
      </div>

  </div>
</div>
</body>

</html>