<!doctype html>
<html lang="en">
  <head>
  	<title>Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='https://css.gg/menu.css' rel='stylesheet'>
	  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <style>
      .push-down {
        margin-bottom: 10px;
      }
  
      .background {
        background-image: linear-gradient(#f09fb9 , #ecc8d3);
      }

      .buttonStretch {
        height: 33px;
      }
    </style>
</head>
  
<body>
  {% load static %}
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Bookify</h3>
      </div>
      <ul class="list-unstyled components">
	  			<div class="user-logo">
	  				<img src="{% static 'images/logo.jpg' %}" width="250px" alt="profile pic">
	  				<h4>User Name</h4>
	  			</div>
          <!-- DATA from DB just for testing -->
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a href="#">Category 1</a>
                  </li>
                  <li>
                      <a href="#">Category 2</a>
                  </li>
                  <li>
                      <a href="#">Category 3</a>
                  </li>
                  <li>
                      <a href="#">Category 4</a>
                  </li>
                  <li>
                      <a href="#">Category 5</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#">Your profile</a>
          </li>
        
          <li>
              <a href="#">About us</a>
          </li>
          <li>
              <a href="#">Log in/Create an account</a>
          </li>
      </ul>

  </nav>

  
  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info buttonStretch" style="background-color: #6d7fcc;">
              <i class="gg-menu"></i>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto buttonStretch" type="button" style="background-color: #6d7fcc;" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="gg-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                     <input type="search" class="">
                     <button type="submit" class="btn btn-sm btn-primary ">Search</button> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="quote">
    <h4>"If you don't like to read, you haven't found the right book." -J.K. Rowling</h4>
    </div>

      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static 'images/slideshow6.jpg' %}" class="d-block w-100" alt="pic1">
          </div>
          <div class="carousel-item">
              <img src="{% static 'images/slideshow7.jpg' %}" class="d-block w-100" alt="pic2">
          </div>
          <div class="carousel-item">
              <img src="{% static 'images/slideshow8.jpg' %}" class="d-block w-100" alt="pic3">
          </div>
          <div class="carousel-item">
              <img src="{% static 'images/slideshow9.jpg' %}" class="d-block w-100" alt="pic4">
          </div>
          <div class="carousel-item">
              <img src="{% static 'images/slideshow10.jpg' %}" class="d-block w-100" alt="pic5">
          </div>
          <div class="carousel-item">
              <img src="{% static 'images/slideshow11.jpg' %}" class="d-block w-100" alt="pic6">
          </div>
        </div>
      </div>

      <div class="categ">
        <h4>Categories</h4>
      </div>
      <div class="categories_pics">
        <!-- DATA from DB just for testing -->
        <div class="row">
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/Sci-Fi.jpeg' %}" alt="Snow" style="width:100%"></a>
            <p class='hide'>Science-Fiction</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/Mystery.jpeg' %}" alt="Forest" style="width:100%"></a>
            <p class='hide'>Mystery</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/Fiction.jpeg' %}" alt="Mountains" style="width:100%"></a>
            <p class='hide'>Fiction</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/bg_1.jpg' %}" alt="Snow" style="width:100%"></a>
            <p class='hide'>Adventure</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/Romance.jpeg' %}" alt="Forest" style="width:100%"></a>
            <p class='hide'>Romance</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/bg_1.jpg' %}" alt="Snow" style="width:100%"></a>
            <p class='hide'>Adventure</p>
          </div>
          <div class="column">
            <a href="category"><img class="rounded" src="{% static 'images/Romance.jpeg' %}" alt="Forest" style="width:100%"></a>
            <p class='hide'>Romance</p>
          </div>
        </div>
      </div>
</div>
</body>
</html>